<!-- hbd-tabs-theme1, hbd-tabs-theme2, hbd-tabs-theme3, hbd-tabs-theme4 -->
<div class="hbd-tabs">
  <div class="hbd-tabs-scroll">
    <ul class="hbd-tabs-header">
      <li active="1">
        <a>专家会新闻</a>
      </li>
      <li active="2">
        <a>专家风采</a>
      </li>
      <li active="3">
        <a>行业动态</a>
      </li>
      <li active="4">
        <a>会议培训</a>
      </li>
      <li active="5">
        <a>学术期刊</a>
      </li>
    </ul>
  </div>
  <div class="hbd-tabs-content">
    <div class="hbd-tabs-content_item" active="1">第一部分</div>
    <div class="hbd-tabs-content_item" active="2">第二部分</div>
    <div class="hbd-tabs-content_item" active="3">第三部分</div>
    <div class="hbd-tabs-content_item" active="4">第四部分</div>
    <div class="hbd-tabs-content_item" active="5">第五部分</div>
  </div>
</div>
