<div class="hbd-expand">
  <div class="hbd-expand-item">
    <div class="hbd-expand-item_header">13：30 - 13:40 会议开幕</div>
    <div class="hbd-expand-item_current">
      <p class="hbd-expand-item_content">关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开</p>
    </div>
  </div>
  <div class="hbd-expand-item">
    <div class="hbd-expand-item_header">13：30 - 13:40 会议开幕</div>
    <div class="hbd-expand-item_current">
      <p class="hbd-expand-item_content">关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。</p>
    </div>
  </div>
  <div class="hbd-expand-item">
    <div class="hbd-expand-item_header">13：30 - 13:40 会议开幕</div>
    <div class="hbd-expand-item_current">
      <p class="hbd-expand-item_content">关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。</p>
    </div>
  </div>
  <div class="hbd-expand-item">
    <div class="hbd-expand-item_header">13：30 - 13:40 会议开幕</div>
    <div class="hbd-expand-item_current">
      <p class="hbd-expand-item_content">关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。</p>
    </div>
  </div>
  <div class="hbd-expand-item">
    <div class="hbd-expand-item_header">13：30 - 13:40 会议开幕</div>
    <div class="hbd-expand-item_current">
      <p class="hbd-expand-item_content">关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开关爱骨骼”全国骨病专项救助公益行启动会COA珠海正式召开。病专项救助公益行启动会COA珠海正式召开。</p>
    </div>
  </div>
</div>
