<!-- web-header-nav 1 -->
<header class="hbd-header-wrapper hbd-header-wrapper1 leftIn">
  <div class="hbd-header">
    <div class="hbd-header-logo">
      <a href="">
        <!-- 企业logo -->
        <div></div>
      </a>
    </div>
    <div class="open-nav-button">
      <i class="phone-icon"></i>
    </div>

    <nav class="hbd-web-nav">
      <i class="icon"></i>
      <ul class="hbd-web-nav-content">
        <li class="hbd-nav-item">
          <a href="">首页</a>
        </li>
        <!-- 二级菜单一列显示 -->
        <li class="hbd-nav-item hbd-second-nav ">
          <a href="">免费体验</a>
          <ul class="hbd-child-nav">
            <li class="hbd-nav-item hbd-second ">
              <a href="">免费体验</a>
            </li>
            <li class="hbd-nav-item hbd-second">
              <a href="">爱幼妈妈</a>
            </li>
          </ul>
        </li>
        <li class="hbd-nav-item">
          <a href="javascript:;">话题讨论</a>
        </li>
        <li class="hbd-nav-item">
          <a href="">关于知几</a>
        </li>
        <li class="hbd-nav-item hbd-header-search-wrapper">
          <i class="icon-search"></i>
          <input type="text" placeholder="搜索">
        </li>
      </ul>
      <div class="hbd-header-extra">
        <input type="text">
      </div>
      <div class="hbd-header-extra">
        <span>登录</span>
        <span>注册</span>
      </div>
    </nav>
    <ul class="hbd-phone-nav">
      <li>
        <a href="">首页</a>
      </li>
      <li>
        <a href="">学会概况</a>
      </li>
      <li>
        <a href="">文献指南</a>
      </li>
      <li>
        <a href="">经典病例</a>
      </li>
      <li>
        <a href="">学术期刊</a>
      </li>
      <li>
        <a href="">足踝资讯</a>
      </li>
      <li>
        <a href="">合作伙伴</a>
      </li>
      <li>
        <a href="">登录</a>
        <a href="">注册</a>
      </li>
    </ul>
  </div>
</header>
