<div class="hbd-example">
  <div class="hbd-example-title">示例组件</div>
  <div class="hbd-example-content">
    <div class="hbd-example-content_left">
      <span class="hbd-example-content_item">示</span>
      <span class="hbd-example-content_item">例</span>
      <span class="hbd-example-content_item">说</span>
      <span class="hbd-example-content_item">明</span>
    </div>
    <div class="hbd-example-content_right">
      <span class="hbd-example-content_item">1. 功能组件写在 src/components 文件夹下，纯结构组件写在 src/htmCcomponents </span>
      <span class="hbd-example-content_item">2. less 中变量全部写在最上面，less中尽量不使用任何数值与变量</span>
      <span class="hbd-example-content_item">3. less 中如果需要使用变量，在 src/componentsCss/common/var.less 中添加</span>
      <span class="hbd-example-content_item">4. 在 var.less 中添加变量时，常量需要加在基本变量下，主题相关变量加在主题变量下</span>
    </div>
  </div>
</div>
