<!-- =========== start 圆打转 ========= -->
<div id="loading1">
  <!-- ========= 一个容器 包含两个class： hbd-loading 以及 hbd-loading_ballLine ======== -->
  <!-- <div class="hbd-loading hbd-loading__ballLine"> -->
  <!-- <div class="ball_line_rotate">
    <div></div>
    <div></div>
  </div>
  <div class="ball_line_hint">
    <span>努力加载中...</span>
  </div> -->
  <!-- </div> -->
</div>
<!-- ============ end ============= -->
<br>
<br>
<br>
<!-- =========== start 花瓣 ========= -->
<div id="loading2">
  <!-- ========= 一个容器 包含两个class： hbd-loading 以及 hbd-loading__squareSpin ======== -->
  <!-- <div class="hbd-loading hbd-loading__squareSpin"> -->
  <!-- <div class="square_spin_fade">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="ball_line_hint">
    <span>努力加载中...</span>
  </div> -->
  <!-- </div> -->
</div>
<!-- ============ end ============= -->